<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.plugin.iconchange" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IconChangPlugin</name>
    <js-module name="IconChangPlugin" src="www/IconChangPlugin.js">
        <clobbers target="IconChangPlugin" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="IconChangPlugin">
                <param name="ios-package" value="IconChangPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/IconChangPlugin.m" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="IconChangPlugin">
                <param name="android-package" value="com.plugin.iconchange.IconChangPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/IconChangPlugin.java" target-dir="src/com/plugin/iconchange/IconChangPlugin" />
    </platform>
</plugin>